body {
    background-color: rgb(67, 65, 65);
}

header {
    background-color: rgb(172, 148, 148);
    width: 1290px;
    height: 30px;
    margin: auto;
   line-height: 30px;
}

a {
    color: rgb(47, 49, 51);
    text-decoration: none;
    padding: 10px;

}

.item-a {
    grid-area: img1;
}

.item-b {
    grid-area: img2;
}

.item-c {
    grid-area: img3;
}

.item-d {
    grid-area: img4;
}

.item-e {
    grid-area: img5;
}

.item-f {
    grid-area: img6;
}

.item-g {
    grid-area: img7;
}

.item-h {
    grid-area: img8;

}

.item-i {
    grid-area: img9;
}

.item-j {
    grid-area: img10;
}

.item-k {
    grid-area: img11;
}

.item-l {
    grid-area: img12;
}

.item-m {
    grid-area: img13;
}

.item-n {
    grid-area: img14;
}

.item-o {
    grid-area: img15;

}

.item-p {
    grid-area: img16;
}

.item-q {
    grid-area: img17;
}

.item-r {
    grid-area: img18;
}

.item-s {
    grid-area: img19;
}

.item-t {
    grid-area: img20;
}

.item-u {
    grid-area: img21;
    padding-top: 24px;
    color: red;
}

.item-v {
    grid-area: txt;
    padding-top: 70px;
    padding-left: 110px;
    color: red;
}

.container {
    background-color: white;
    width: 1290px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: auto;
    grid-template-areas:
        'img1 img1 img1 img1 img2'
        'img1 img1 img1 img1 img3'
        'img1 img1 img1 img1 img4'
        'img5 img5 img6 img7 img8'
        'img9 img10 img10 img11 img12'
        'img9 img13 img14 img14 img15'
        'img21 img13 img16 img17 img18'
        'img19 img20 img20 . txt';
        gap: 10px;
}

@media only screen and (max-width: 400px) {


    .item-a {
        grid-area: img1;
        max-width: 100%;
    }

    .item-b {
        grid-area: img2;
        max-width: 100%;
    }

    .item-c {
        grid-area: img3;
        max-width: 100%;
    }

    .item-d {
        grid-area: img4;
        max-width: 100%;
    }

    .item-e {
        grid-area: img5;
        max-width: 100%;
    }

    .item-f {
        grid-area: img6;
        max-width: 100%;
    }

    .item-g {
        grid-area: img7;
        max-width: 100%;
    }

    .item-h {
        grid-area: img8;
        max-width: 100%;

    }

    .item-i {
        grid-area: img9;
        max-width: 100%;
    }

    .item-j {
        grid-area: img10;
        max-width: 100%;
    }

    .item-k {
        grid-area: img11;
        max-width: 100%;
    }

    .item-l {
        grid-area: img12;
        max-width: 100%;
    }

    .item-m {
        grid-area: img13;
        max-width: 100%;
    }

    .item-n {
        grid-area: img14;
        max-width: 100%;
    }

    .item-o {
        grid-area: img15;
        max-width: 100%;

    }

    .item-p {
        grid-area: img16;
        max-width: 100%;
    }

    .item-q {
        grid-area: img17;
        max-width: 100%;
    }

    .item-r {
        grid-area: img18;
        max-width: 100%;
    }

    .item-s {
        grid-area: img19;
        max-width: 100%;
    }

    .item-t {
        grid-area: img20;
        max-width: 100%;
    }

    .item-u {
        grid-area: img21;
        max-width: 100%;
        padding-top: 24px;
        color: red;
    }


    .item-v {
        grid-area: txt;
        padding-top: 0px;
        padding-left: 0px;
        background-color: rgb(233, 188, 129);
        max-width: 100%;
        color: black;
        display: inline;
        height: 30px;
        line-height: 30px;
    }

    .size{
        max-width: 100%;
    }
    
    .container {
        display: grid;
        width: fit-content;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        'img1 img1 img1 img1 img1'
        'img2 img19 img20 img20 img4'
        'img3 img19 img20 img20 img4'
        'img5 img5 img6 img7 img8'
        'img9 img10 img10 img11 img12'
        'img9 img13 img14 img14 img15'
        'img21 img13 img16 img17 img18'
        'txt txt txt txt txt';
    }

    header {
        background-color: rgb(233, 188, 129);
        width: 1290px;
        height: 30px;
        margin: auto;
        }
    
    a {
        color: rgb(47, 49, 51);
        text-decoration: none;
        padding: 10px;
    }
    
    body{
        width: fit-content;
    }

}